@model List<HaberCl>
@using Haber.COM;
@{
    ViewBag.Title = "Haber Düzenleme Sayfası";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="btn btn-default">@Html.ActionLink("Yeni Kayıt Ekle", "HaberEkle")</div>

<h2>Haber Düzenleme Sayfası</h2>

<h2 class="text-info">Haber Listesi</h2>


<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <thead>
        <tr>
            <td>@Html.LabelFor(x => x[0].HaberID)</td>
            <td>@Html.LabelFor(x => x[0].HaberBaslik)</td>
            <td>@Html.LabelFor(x => x[0].HaberIcerik)</td>
            <td>@Html.LabelFor(x => x[0].HaberGirisTarihi)</td>
            <td>@Html.LabelFor(x => x[0].HaberYazari.YazarAdSoyad)</td>
            <td>@Html.LabelFor(x => x[0].HaberKategori.KategoriAdi)</td>
            <td>@Html.LabelFor(x => x[0].HaberDurumu)</td>
            <td>@Html.LabelFor(x => x[0].HaberOkunmaSayisi)</td>
            <td></td>
        </tr>
    </thead>
    <tbody>

        @foreach (var haber in Model)
            {
            <tr>
                <td>@Html.ActionLink(haber.HaberID.ToString(), "HaberDuzenleme", new { id = haber.HaberID })</td>
                <td>@haber.HaberBaslik</td>
                <td>
                    @if (haber.HaberIcerik.Length > 250)
                    {
                        @Html.Raw(haber.HaberIcerik.Substring(0, 250))<span>...</span>
                    }
                    else
                    {
                        @Html.Raw(haber.HaberIcerik)
                    }
                </td>
                <td>@haber.HaberGirisTarihi</td>
                <td>@Html.ActionLink(haber.HaberYazari.YazarAdSoyad.ToString(), "YazarHaberleriYeni", new { id = haber.HaberYazari.YazarID })</td>
                <td>@Html.ActionLink(haber.HaberKategori.KategoriAdi.ToString(), "KategoriHaberleriYeni", new { id = haber.HaberKategori.KategoriID })</td>
                <td>
                    @if (haber.HaberDurumu)

                    {
                        <input type="checkbox" name="@haber.HaberID.ToString() @haber.HaberKategori.KategoriID" value="@haber.HaberID.ToString() @haber.HaberKategori.KategoriID" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" name="@haber.HaberID.ToString() @haber.HaberKategori.KategoriID" value="@haber.HaberID.ToString() @haber.HaberKategori.KategoriID" />
                    }
                </td>
                <td>@haber.HaberOkunmaSayisi</td>
                <td>
                    <div class="btn btn-default">
                        @Html.ActionLink("Düzenle", "HaberDuzenleme", new { id = haber.HaberID })
                    </div>
                </td>
                <td>
                    <div class="btn btn-default">
                        @Html.ActionLink("Sil", "HaberSil", new { id = haber.HaberID })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
