@model Haber.COM.HaberCl
@using Haber.COM;
@{
    ViewBag.Title = "Haber Ekle";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Haber Ekle</h2>

<script src="~/Content/ckeditor/ckeditor/ckeditor.js"></script>

@Html.ValidationSummary()
@using (Html.BeginForm("HaberEkle", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <table>
        <thead>
            <tr>
                <td>@Html.LabelFor(x => x.HaberBaslik)</td>
                <td>@Html.TextAreaFor(x => x.HaberBaslik,new { cols=85,@rows = 1})</td>
            </tr>
            <tr>

                <td>@Html.LabelFor(x => x.HaberIcerik)</td>
                <td>@Html.TextAreaFor(x => x.HaberIcerik)
                    <script>
                        CKEDITOR.replace('HaberIcerik', { htmlEncodeOutput: true });
                    </script>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.HaberKategori)</td>
                <td>
                    <select name="kategoriID">
                        @foreach (var kategori in (List<Kategori>)ViewBag.kategoriler)
                        {
                            <option value="@kategori.KategoriID">@kategori.KategoriAdi</option>
                        }
                    </select>
                </td>
            </tr>


            <tr>

                <td>@Html.LabelFor(x => x.HaberYazari)</td>
                <td>
                    @if (User.IsInRole("News Writer"))
                    {
                        HaberUser hu = UserInfo.kullaniciBilgiAlAdIle(User.Identity.Name);
                        Haber.Helper.YazarHelper yh = new Haber.Helper.YazarHelper();
                        Yazar y = yh.YazarGetir(hu.Name + " " + hu.SurName);
                        <select name="yazarid">
                             <option value="@y.YazarID" readonly>@y.YazarAdSoyad</option>
                        </select>
                    }
                    else
                    {
                        <select name="yazarid">
                            @foreach (var yazar in (List<Yazar>)ViewBag.yazarlar)
                            {
                                <option value="@yazar.YazarID">@yazar.YazarAdSoyad</option>
                            }
                        </select>
                    }
                </td>
            </tr>
            <tr>

                @if (ViewBag.test == "HttpPost")
                {

                }
                else
                {
                        <td>@Html.LabelFor(x => x.HaberEtiketleri[0].EtiketAdi)</td>
                        <td>@Html.TextBoxFor(x => x.HaberEtiketleri[0].EtiketAdi)</td>
                }
            </tr>
            <tr>

                <td>@Html.LabelFor(x => x.HaberDurumu)</td>
                <td>
                    @Html.CheckBoxFor(x => x.HaberDurumu, new { @checked = "checked" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => Model.HaberResimleri) 1
                </td>
                <td>
                    <input type="file" name="files" id="files1" />
                </td>

            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => Model.HaberResimleri) 2
                </td>
                <td>
                    <input type="file" name="files" id="files2" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => Model.HaberResimleri) 3
                </td>
                <td>
                    <input type="file" name="files" id="files3" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="btnHaberEkle" value="Kaydet" /></td>
            </tr>
        </thead>
    </table>
}