@model Hakkimizda
@using Haber.COM;
@{
    ViewBag.Title = "Hakkinda Duzenleme";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Hakkinda Düzenleme</h2>

@using (Html.BeginForm("HakkindaDuzenleme", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>

            <td>@Html.LabelFor(x => x.HakBaslik)</td>
            <td>
                <input type="text" name="hakBaslik" value="@Model.HakBaslik" />
                <input type="hidden" name="hakID" value="@Model.HakID" />
            </td>
        </tr>
        <tr>

            <td>@Html.LabelFor(x => x.HakIcerik)</td>
            <td><input type="text" name="hakIcerik" value="@Model.HakIcerik" /></td>
        </tr>

        
        <tr>
            <td>@Html.LabelFor(x => x.HakEklenmeTarihi)</td>
            <td>
                @Html.TextBoxFor(x => x.HakEklenmeTarihi)
            </td>

        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="btnHakDuzenle" value="Kaydet" />
            </td>
        </tr>
    </table>
}