@model Yorum
@using Haber.COM;
@{
    ViewBag.Title = "YorumDuzenleme";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>YorumDuzenleme</h2>

@using (Html.BeginForm())
{


    <table>
        <tr>
            <td>
                @Html.LabelFor(x => x.YorumIcerik)
                <input type="hidden" name="yorumID" value="@Model.YorumID" />
            </td>
            <td>@Html.TextBoxFor(x => x.YorumIcerik)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(x => x.YorumDurumu)</td>
            <td>@Html.CheckBoxFor(x => x.YorumDurumu, new { @checked = "checked" })</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="btnYorumDuzenle" value="Kaydet" />
            </td>
        </tr>
    </table>

}