@model Yorum
@using Haber.COM;
@{
    ViewBag.Title = "Yorum Düzenleme";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Yorum Düzenleme</h2>
<script src="~/Content/ckeditor/ckeditor/ckeditor.js"></script>

@using (Html.BeginForm())
{


    <table>
        <tr>
            <td>
                @Html.LabelFor(x => x.YorumIcerik)
                <input type="hidden" name="yorumID" value="@Model.YorumID" />
            </td>
            <td>@Html.TextAreaFor(x => x.YorumIcerik)
                <script>
                    CKEDITOR.replace('YorumIcerik', { htmlEncodeOutput: true });
                </script>
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(x => x.YorumDurumu)</td>
            <td>@Html.CheckBoxFor(x => x.YorumDurumu, new { @checked = "checked" })</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="btnYorumDuzenle" value="Kaydet" />
            </td>
        </tr>
    </table>

}