@model List<HaberCl>
@using Haber.COM;
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

@section sonHaberlerkucuk{
    <div class="latest_newsarea">
        <span>Son Haberler</span>
        <ul id="ticker01" class="news_sticker">
            @foreach (var haber in Model)
            {
                if (haber.HaberResimleri == null || haber.HaberResimleri.Count == 0)
                {
                    <li><a href="#"><img src="" alt="">@haber.HaberBaslik</a></li>
                }
                else
                {
                    if (haber.HaberResimleri.Count > 0)
                    {

                        <li><a href="#"><img src="~/Content/Galeri/@haber.HaberResimleri[0].ResimAdi" alt="">@haber.HaberBaslik</a></li>
                    }
                }


            }



        </ul>
        <div class="social_area">
            <ul class="social_nav">
                <li class="facebook"><a href="#"></a></li>
                <li class="twitter"><a href="#"></a></li>
                <li class="flickr"><a href="#"></a></li>
                <li class="pinterest"><a href="#"></a></li>
                <li class="googleplus"><a href="#"></a></li>
                <li class="vimeo"><a href="#"></a></li>
                <li class="youtube"><a href="#"></a></li>
                <li class="mail"><a href="mailto#:info@smartnews.com"></a></li>
            </ul>
        </div>
    </div>
}


@section Slider{
    <div class="col-lg-8 col-md-8 col-sm-8">
        <!-- Set up your HTML -->
        <div class="slick_slider">
            @foreach (var haber in Model)
            {
                if (haber.HaberResimleri == null || haber.HaberResimleri.Count == 0)
                {
                    <div class="single_iteam">
                        <a href="single_page.html">
                            <img src="" alt="img">
                        </a>
                        <div class="slider_article">
                            <h2><a class="slider_tittle" href="single_page.html">@haber.HaberBaslik</a></h2>
                            <p>@haber.HaberIcerik</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="single_iteam">
                        <a href="single_page.html">
                            <img src="~/Content/Galeri/@haber.HaberResimleri[0].ResimAdi" alt="img">
                        </a>
                        <div class="slider_article">
                            <h2><a class="slider_tittle" href="single_page.html">@haber.HaberBaslik</a></h2>
                            <p>@haber.HaberIcerik</p>
                        </div>
                    </div>
                }
            }
            <div class="single_iteam">
                <a href="single_page.html"> <img src="~/Gallery/img/slider_img2.jpg" alt="img"></a>
                <div class="slider_article">
                    <h2><a class="slider_tittle" href="single_page.html">Fusce eu nulla semper porttitor felis sit amet</a></h2>
                    <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui...</p>
                </div>
            </div>
            <div class="single_iteam">
                <a href="single_page.html"> <img src="~/Gallery/img/slider_img3.jpg" alt="img"></a>
                <div class="slider_article">
                    <h2><a class="slider_tittle" href="single_page.html">Fusce eu nulla semper porttitor felis sit amet</a></h2>
                    <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui...</p>
                </div>
            </div>
            <div class="single_iteam">
                <a href="single_page.html"> <img src="~/Gallery/img/slider_img1.jpg" alt="img"></a>
                <div class="slider_article">
                    <h2><a class="slider_tittle" href="single_page.html">Fusce eu nulla semper porttitor felis sit amet</a></h2>
                    <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui...</p>
                </div>
            </div>
        </div>
    </div>
}
@section SonGonderilen{
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
            <h2><span>Son Gönderilenler</span></h2>
            <div class="latest_post_container">
                <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
                <ul class="latest_postnav">
                    @{
                        int i = 0;
                    }
                    @foreach (var haber in Model)
                    {
                        i++;
                        if (haber.HaberResimleri == null || haber.HaberResimleri.Count == 0)
                        {

                            if (haber.HaberBaslik.Length > 50)
                            {

                                <li>
                                    <div class="media">
                                        <a href="single_page.html" class="media-left">
                                            <img alt="img" src="">
                                        </a>
                                        <div class="media-body">
                                            <a href="single_page.html" class="catg_title">
                                                @{ string abc = haber.HaberBaslik.Substring(0, 45);
                                                    @abc}...
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <div class="media">
                                                                <a href="single_page.html" class="media-left">
                                                                    <img alt="img" src="">
                                                                </a>
                                                                <div class="media-body">
                                                                    <a href="single_page.html" class="catg_title">@haber.HaberBaslik</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (haber.HaberResimleri.Count > 0)
                                                        {

                                                            if (haber.HaberBaslik.Length > 50)
                                                            {
                                                                <li>
                                                                    <div class="media">
                                                                        <a href="single_page.html" class="media-left">
                                                                            <img alt="img" src="~/Content/Galeri/@haber.HaberResimleri[0].ResimAdi">
                                                                        </a>
                                                                        <div class="media-body">
                                                                            <a href="single_page.html" class="catg_title">
                                                                                @{ string abc = haber.HaberBaslik.Substring(0, 45);
                                                                                    @abc}...
                                                                            </a>
                                                                        </div>
                                                                    </div>

                                                                </li>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <li>
                                                                                            <div class="media">
                                                                                                <a href="single_page.html" class="media-left">
                                                                                                    <img alt="img" src="~/Content/Galeri/@haber.HaberResimleri[0].ResimAdi">
                                                                                                </a>
                                                                                                <div class="media-body">
                                                                                                    <a href="single_page.html" class="catg_title">@haber.HaberBaslik</a>
                                                                                                </div>
                                                                                            </div>

                                                                                        </li>
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                        if (i == 4)
                                                                                        {
                                                                                            break;
                                                                                        }
                                                                                    }

                    <!-- #region yorum -->
                    @*<li>
                            <div class="media">
                                <a href="single_page.html" class="media-left">
                                    <img alt="img" src="img/post_img1.jpg">
                                </a>
                                <div class="media-body">
                                    <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a href="single_page.html" class="media-left">
                                    <img alt="img" src="img/post_img1.jpg">
                                </a>
                                <div class="media-body">
                                    <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a>
                                </div>
                            </div>
                        </li>*@

                    <!-- #endregion -->
                </ul>
                <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
            </div>
        </div>
    </div>
}
<!-- =========================
 //////////////This Theme Design and Developed //////////////////////
 //////////// by www.wpfreeware.com======================-->
<!-- ==================start content body section=============== -->


@section Gundem{
    <div class="single_post_content">
        <h2><span>Gündem</span></h2>
        <div class="single_post_content_left">
            <ul class="business_catgnav  wow fadeInDown">
                @{
                    var haberListesi = (List<HaberCl>)ViewBag.haberler;
                    var result = (from p in haberListesi
                                  where p.HaberKategori.KategoriAdi == "Gündem"
                                  select p).OrderByDescending(x => x.HaberGirisTarihi).ToList();
                    int i = 0;
                }
                @foreach (var haber in result)
                {
                    i++;
                    <li>
                        <figure class="bsbig_fig">
                            <a href="single_page.html" class="featured_img">
                                <img alt="img" src="~/Content/Galeri/@haber.HaberResimleri[0].ResimAdi">
                                <span class="overlay"></span>
                            </a>
                            <figcaption>
                                <a href="single_page.html">@haber.HaberBaslik.Trim()</a>
                            </figcaption>
                            @if (haber.HaberIcerik.Length > 40)
                            {
                                <p>
                                    @{ string abc = haber.HaberIcerik.Substring(0, 55);
                                        @abc}...
                                </p>
                                        }
                        </figure>
                    </li>
                                            if (i == 1)
                                            {
                                                break;
                                            }
                                        }

            </ul>
        </div>
        <div class="single_post_content_right">
            <ul class="spost_nav">
                @{
                    int j = 0;
                    foreach (var haber in result)
                    {
                        j++;

                        if (j == 1)
                        {
                            continue;
                        }
                        else
                        {
                            <li>
                                <div class="media wow fadeInDown">
                                    <a href="single_page.html" class="media-left">
                                        @if (haber.HaberResimleri == null || haber.HaberResimleri.Count == 0)
                                        {
                                            <img alt="img" src="">
                                        }
                                        else
                                        {
                                            <img alt="img" src="~/Content/Galeri/@haber.HaberResimleri[0].ResimAdi">
                                        }
                                    </a>
                                    <div class="media-body">
                                        @{
                                            if (haber.HaberBaslik.Length > 55)
                                            {
                                                <a href="single_page.html" class="catg_title">@haber.HaberBaslik.Substring(0, 55)</a>
                                            }
                                            else
                                            {
                                                <a href="single_page.html" class="catg_title">@haber.HaberBaslik</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </li>
                                                }
                                                if (j == 7)
                                                {
                                                    break;
                                                }
                                            }
                }
                @*<li>
                    <div class="media wow fadeInDown">
                        <a href="single_page.html" class="media-left">
                            <img alt="img" src="img/post_img2.jpg">
                        </a>
                        <div class="media-body">
                            <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a>
                        </div>
                    </div>
                </li>*@
                
            </ul>
        </div>
    </div>
}

<!-- start 2 style category design -->

@section Moda{
    <div class="fashion">
        <div class="single_post_content">
            <h2><span>Moda</span></h2>
            <ul class="business_catgnav wow fadeInDown">
                <li>
                    <figure class="bsbig_fig">
                        <a href="single_page.html" class="featured_img">
                            <img alt="img" src="img/featured_img2.jpg">
                            <span class="overlay"></span>
                        </a>
                        <figcaption>
                            <a href="single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a>
                        </figcaption>
                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                    </figure>
                </li>
            </ul>
            <ul class="spost_nav">
                <li>
                    <div class="media wow fadeInDown">
                        <a href="single_page.html" class="media-left">
                            <img alt="img" src="img/post_img1.jpg">
                        </a>
                        <div class="media-body">
                            <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="single_page.html" class="media-left">
                            <img alt="img" src="img/post_img2.jpg">
                        </a>
                        <div class="media-body">
                            <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="single_page.html" class="media-left">
                            <img alt="img" src="img/post_img1.jpg">
                        </a>
                        <div class="media-body">
                            <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="single_page.html" class="media-left">
                            <img alt="img" src="img/post_img2.jpg">
                        </a>
                        <div class="media-body">
                            <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

}

@section Teknoloji{

    <div class="technology">
        <div class="single_post_content">
            <h2><span>Teknoloji</span></h2>
            <ul class="business_catgnav">
                <li>
                    <figure class="bsbig_fig wow fadeInDown">
                        <a href="single_page.html" class="featured_img">
                            <img alt="img" src="img/featured_img3.jpg">
                            <span class="overlay"></span>
                        </a>
                        <figcaption>
                            <a href="single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a>
                        </figcaption>
                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                    </figure>
                </li>
            </ul>
            <ul class="spost_nav">
                <li>
                    <div class="media wow fadeInDown">
                        <a href="single_page.html" class="media-left">
                            <img alt="img" src="img/post_img1.jpg">
                        </a>
                        <div class="media-body">
                            <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="single_page.html" class="media-left">
                            <img alt="img" src="img/post_img2.jpg">
                        </a>
                        <div class="media-body">
                            <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="single_page.html" class="media-left">
                            <img alt="img" src="img/post_img1.jpg">
                        </a>
                        <div class="media-body">
                            <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="single_page.html" class="media-left">
                            <img alt="img" src="img/post_img2.jpg">
                        </a>
                        <div class="media-body">
                            <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
}

<!-- End 2 style category design -->
<!-- start photography stye design -->
@section Fotografcilik{
    <div class="single_post_content">
        <h2><span>Fotografçılık</span></h2>
        <ul class="photograph_nav  wow fadeInDown">
            <li>
                <div class="photo_grid">
                    <figure class="effect-layla">
                        <a class="fancybox-buttons" data-fancybox-group="button" href="img/photograph_img2.jpg" title="Photography Ttile 1">
                            <img src="~/Gallery/img/photograph_img2.jpg" alt="img06" />
                        </a>
                    </figure>
                </div>
            </li>
            <li>
                <div class="photo_grid">
                    <figure class="effect-layla">
                        <a class="fancybox-buttons" data-fancybox-group="button" href="img/photograph_img3.jpg" title="Photography Ttile 2">
                            <img src="~/Gallery/img/photograph_img3.jpg" alt="img06" />
                        </a>
                    </figure>
                </div>
            </li>
            <li>
                <div class="photo_grid">
                    <figure class="effect-layla">
                        <a class="fancybox-buttons" data-fancybox-group="button" href="img/photograph_img4.jpg" title="Photography Ttile 3">
                            <img src="~/Gallery/img/photograph_img4.jpg" alt="img06" />
                        </a>
                    </figure>
                </div>
            </li>
            <li>
                <div class="photo_grid">
                    <figure class="effect-layla">
                        <a class="fancybox-buttons" data-fancybox-group="button" href="img/photograph_img4.jpg" title="Photography Ttile 4">
                            <img src="~/Gallery/img/photograph_img4.jpg" alt="img06" />
                        </a>
                    </figure>
                </div>
            </li>
            <li>
                <div class="photo_grid">
                    <figure class="effect-layla">
                        <a class="fancybox-buttons" data-fancybox-group="button" href="img/photograph_img2.jpg" title="Photography Ttile 5">
                            <img src="~/Gallery/img/photograph_img2.jpg" alt="img06" />
                        </a>
                    </figure>
                </div>
            </li>
            <li>
                <div class="photo_grid">
                    <figure class="effect-layla">
                        <a class="fancybox-buttons" data-fancybox-group="button" href="img/photograph_img3.jpg" title="Photography Ttile 6">
                            <img src="~/Gallery/img/photograph_img3.jpg" alt="img06" />
                        </a>
                    </figure>
                </div>
            </li>
        </ul>
    </div>
}
<!-- End photography stye design -->
<!-- start games category design -->
@section Oyunlar {
    <div class="single_post_content">
        <h2><span>Oyunlar</span></h2>
        <div class="single_post_content_left">
            <ul class="business_catgnav">
                <li>
                    <figure class="bsbig_fig  wow fadeInDown">
                        <a class="featured_img" href="single_page.html">
                            <img src="~/Gallery/img/featured_img1.jpg" alt="img">
                            <span class="overlay"></span>
                        </a>
                        <figcaption>
                            <a href="single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a>
                        </figcaption>
                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                    </figure>
                </li>
            </ul>
        </div>
        <div class="single_post_content_right">
            <ul class="spost_nav">
                <li>
                    <div class="media wow fadeInDown">
                        <a href="single_page.html" class="media-left">
                            <img alt="img" src="img/post_img1.jpg">
                        </a>
                        <div class="media-body">
                            <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="single_page.html" class="media-left">
                            <img alt="img" src="img/post_img2.jpg">
                        </a>
                        <div class="media-body">
                            <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="single_page.html" class="media-left">
                            <img alt="img" src="img/post_img1.jpg">
                        </a>
                        <div class="media-body">
                            <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="single_page.html" class="media-left">
                            <img alt="img" src="img/post_img2.jpg">
                        </a>
                        <div class="media-body">
                            <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
}
<!-- End games category design -->

@section EnCokOkunanlar{
    <div class="single_sidebar">
        <h2><span>En Çok Okunanlar</span></h2>
        <ul class="spost_nav">
            <li>
                <div class="media wow fadeInDown">
                    <a href="single_page.html" class="media-left">
                        <img alt="img" src="img/post_img1.jpg">
                    </a>
                    <div class="media-body">
                        <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="media wow fadeInDown">
                    <a href="single_page.html" class="media-left">
                        <img alt="img" src="img/post_img2.jpg">
                    </a>
                    <div class="media-body">
                        <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="media wow fadeInDown">
                    <a href="single_page.html" class="media-left">
                        <img alt="img" src="img/post_img1.jpg">
                    </a>
                    <div class="media-body">
                        <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="media wow fadeInDown">
                    <a href="single_page.html" class="media-left">
                        <img alt="img" src="img/post_img2.jpg">
                    </a>
                    <div class="media-body">
                        <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

}

@section sidebar{
    <!-- start tab section -->
    <div class="single_sidebar">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
            <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
            <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                    <li class="cat-item"><a href="#">Spor</a></li>
                    <li class="cat-item"><a href="#">Moda</a></li>
                    <li class="cat-item"><a href="#">İş Dünyası</a></li>
                    <li class="cat-item"><a href="#">Teknoloji</a></li>
                    <li class="cat-item"><a href="#">Oyun</a></li>
                    <li class="cat-item"><a href="#">Yaşam</a></li>
                    <li class="cat-item"><a href="#">Fotoğrafçılık</a></li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                    @*<iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>*@<iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe><iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe><iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="single_page.html" class="media-left">
                                <img alt="img" src="img/post_img1.jpg">
                            </a>
                            <div class="media-body">
                                <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="single_page.html" class="media-left">
                                <img alt="img" src="img/post_img2.jpg">
                            </a>
                            <div class="media-body">
                                <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="single_page.html" class="media-left">
                                <img alt="img" src="img/post_img1.jpg">
                            </a>
                            <div class="media-body">
                                <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="single_page.html" class="media-left">
                                <img alt="img" src="img/post_img2.jpg">
                            </a>
                            <div class="media-body">
                                <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End tab section -->
    <!-- Category Archive -->
    <div class="single_sidebar wow fadeInDown">
        <h2><span>Kategori ARSIVI</span></h2>
        <select class="catgArchive">
            <option>Seçiniz</option>
            <option>Yaşam</option>
            <option>Spor</option>
            <option>Teknoloji</option>
        </select>
    </div>
    <!-- End category Archive -->
    <!-- sponsor add -->
    <div class="single_sidebar wow fadeInDown">
        <h2><span>LINKLER</span></h2>
        <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Rss</a></li>
            <li><a href="#">Giriş</a></li>
            <li><a href="#">Yaşam</a></li>
        </ul>
    </div>
    <!-- End sponsor add -->
}

<!-- ==================End content body section=============== -->
@*</div>*@ <!-- /.container -->
<!-- =========================
      //////////////This Theme Design and Developed //////////////////////
      //////////// by www.wpfreeware.com======================-->
